@mixin dashed-divisor($direction: x, $dashSize: 11px, $color: #000) {
  $repeat: repeat-x;
  $way: to left;

  @if $direction == y {
    $repeat: repeat-y;
    $way: to bottom;
  }

  background-image: linear-gradient($way, $color 50%, rgba(255, 255, 255, 0) 0%);
  background-repeat: $repeat;
  background-position: top;
  background-size: $dashSize 1px;
}

@mixin inset($top, $right, $bottom, $left) {
  @if $top and not $right and not $bottom and not $left {
    top: $top;
    right: $top;
    bottom: $top;
    left: $top;
  }

  @if $top and $right and not $bottom and not $left {
    top: $top;
    right: $right;
    bottom: $top;
    left: $right;
  }

  @if $top and $right and $bottom and not $left {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $right;
  }

  @if $top and $right and $bottom and $left {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

@mixin seo-hide() {
  width: 1px;
  height: 1px;
  overflow: hidden;

  display: inline-block;

  font-size: 0;

  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;

  position: absolute !important;

  clip: rect(1px, 1px, 1px, 1px);
}

/**
  TODO: Replace this mixin properties with the new but complicated way to do multiline ellipsis
  https://hackingui.com/a-pure-css-solution-for-multiline-text-truncation/
*/
@mixin ellipsis($lineCount) {
  overflow: hidden;

  display: -webkit-box;

  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
}

@mixin hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin text-keyword() {
  font-weight: normal;
  font-style: normal;
}

@mixin inset($pixels) {
  position: absolute;
  top: $pixels;
  right: $pixels;
  bottom: $pixels;
  left: $pixels;
}
