@use '~/styles/breakpoints' as *;

.container {
  overflow-x: clip;

  position: relative;

  background: url('./images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(90deg, #1a1a3e, #e6a357);
    opacity: 0.8;
  }

  .bgCircle {
    width: 100px;
    height: 100px;

    border: 20px solid #ff6364;

    position: absolute;

    background: transparent;
    border-radius: 50%;

    &.top {
      top: -15%;
      right: -15%;
    }

    &.bottom {
      bottom: -17%;
      left: -15%;
    }
  }

  .content {
    padding: 80px 0 30px;

    position: relative;

    .divider {
      width: min(450px, 30vw);
      height: 8px;

      &.orange {
        background-color: #ff6365;
      }

      &.yellow {
        margin-left: auto;

        background-color: #fdbe63;
      }
    }

    .title {
      width: min(555px, 80vw);

      color: #fff;
      text-align: center;

      font-size: 2.5rem;
      font-weight: normal;
      line-height: 4.5rem;

      margin: 40px auto;

      .strong {
        display: block;

        font-size: 3rem;
        font-weight: bold;

        .bigger {
          display: block;

          font-size: 4.5rem;
        }
      }
    }
  }
}

@include from720 {
  .container {
    .bgCircle {
      width: 200px;
      height: 200px;

      border-width: 40px;

      &.top {
        top: -37%;
        right: -10%;
      }

      &.bottom {
        bottom: -40%;
        left: -15%;
      }
    }
  }
}

@include from1024 {
  .container {
    .bgCircle {
      width: 200px;
      height: 200px;

      border-width: 60px;

      &.top {
        top: -30%;
        right: -10%;
      }

      &.bottom {
        bottom: -22%;
        left: -10%;
      }
    }

    .content {
      padding: 200px 0 150px;

      .title {
        font-size: 4.5rem;
        font-weight: normal;
        line-height: 6.5rem;

        .strong {
          display: inline;

          font-size: 5rem;

          .bigger {
            font-size: 6.5rem;
          }
        }
      }
    }
  }
}
