@use '~/styles/mixins' as *;
@use '~/styles/breakpoints' as *;

.cardTitle,
.modalTitle {
  font-size: 1.6rem;
  font-weight: 700;

  margin: 13px 0 0;
}

.cardDescription,
.modalDescription {
  font-size: 1.4rem;
  line-height: 2.2rem;

  margin: 8px 0 13px;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 34px;

  background: linear-gradient(0deg, #e6a357, #ff6364);
  border-radius: 20px;

  &.invertTheme {
    background: linear-gradient(15deg, #1a1a3e 2.64%, #ff6364 85.36%);

    .icon {
      fill: #fff;
    }

    .readMoreBtn {
      color: #1a1a3e;

      background-color: #e6a357;

      &:hover {
        background-color: darken(#e6a357, 10);
      }
    }
  }

  &:nth-child(even) {
    background: linear-gradient(15deg, #1a1a3e 2.64%, #ff6364 85.36%);

    .icon {
      fill: #fff;
    }

    .readMoreBtn {
      color: #1a1a3e;

      background-color: #e6a357;

      &:hover {
        background-color: darken(#e6a357, 10);
      }
    }
  }

  .icon {
    margin: 0 auto;
  }

  .cardTitle {
    color: #fff;
    text-align: center;
  }

  .cardDescription {
    color: #fff;

    @include ellipsis(3);
  }

  .readMoreBtn {
    display: block;

    color: #ff6364;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin: auto auto 0;
    padding: 8px 21px;
    border: 0;

    background-color: #1a1a3e;
    outline: 0;
    border-radius: 50px;

    transition: all 0.3s ease;

    cursor: pointer;
    letter-spacing: 2px;

    &:hover {
      background-color: darken(#1a1a3e, 10);
    }
  }
}

.modal {
  overflow-y: scroll;

  padding: 30px;

  top: 125px !important;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    margin-right: 9px;

    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 20px;
  }

  .scrollProgressWrapper {
    display: none;

    margin: -32px;

    position: sticky;
    top: -32px;
    right: -32px;
    left: -32px;

    z-index: -1;

    background-color: #fff;

    opacity: 0;
    border-radius: 10px;

    transition: all 0.3s ease;

    &.scrolled {
      display: block;

      z-index: 1;

      opacity: 1;
    }

    .scrollTitleWrapper {
      width: 100%;

      display: flex;

      justify-content: space-between;

      padding: 21px;
      box-sizing: border-box;

      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

      .scrollTitle {
        width: 87%;

        color: #000;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.2rem;

        margin: auto 0;
      }

      .close {
        filter: invert(1);

        cursor: pointer;
      }
    }

    .scrollProgress {
      height: 3px;

      background: #ff6364;
      border-radius: 50px;

      transition: all 0.3s ease;
    }
  }

  .modalDescription {
    margin-top: 21px;
  }
}

@include from1024 {
  .card {
    .cardDescription {
      @include ellipsis(5);
    }
  }

  .modal {
    max-width: min(90vw, 800px);
    max-height: 80vh;

    top: 0 !important;
  }
}
